{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <style>
        a{
            color: aliceblue;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <center>
        
        <form method='POST' action="{% url 'submit' %}" class='mb-3'>
            <div class="row-cols-1" style="width:1000px">
                {{form|crispy}}
                {% csrf_token %}
                
                <a href="{% url 'submit' %}"><button type="submit" class="btn btn-primary btn-lg my-2">submit</button></a>
                
            </div>
            
        </form>
        <a href="{% url 'todo' %}"><button type="submit" class="btn btn-success btn-lg">see todos</button></a>
    </center>

</body>
<script src="{static 'js/index.js'}"></script>
</html>